div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border:2px solid black;
    transition-property: all;
    transition-duration: 2s;
    /* transition-timing-function: ease; */
    /* transition-timing-function: steps(6); */
    /* transition-timing-function: ease-in; */
        /* transition-timing-function: ease-out; */
        /* transition-timing-function: ease-in-out;
        transition-delay: 2ms; */
        position: absolute;
        top: 100px;
        left: 100px;
    /* transform: rotate(45deg); */
    /* transform: rotate(90deg); */
    transition: all 2s ease-in;
}
div:hover{
    background-color: blue;
    color: white;
    font-size: 20px;
    /* transform: rotate(90deg); */
    /* transform: translate(500px); */
    transform: skewX(50deg);
 
}
div:active{
    background-color: red;
    color: white;
}